<p-table #dt [value]="truckSecrets" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['deviceName', 'macAddress']" [paginator]="true"
         [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
  <ng-template pTemplate="caption">
    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
      <div class="my-2">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      </div>
      <span class="block mt-2 md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="deviceName">Company Name <p-sortIcon field="deviceName"></p-sortIcon></th>
      <th pSortableColumn="macAddress">Mac Address <p-sortIcon field="macAddress"></p-sortIcon></th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td style="min-width: 10rem;">
        <span class="p-column-title">Device Name</span>
        {{row.deviceName}}
      </td>
      <td style="min-width: 10rem;">
        <span class="p-column-title">Mac Address</span>
        {{row.macAddress}}
      </td>
      <td>
        <div class="flex">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openEdit(row)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="openDelete(row)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!--Dialog For New-->
<p-dialog [(visible)]="truckSecretDialogForNew" [style]="{width: '70%'}" header="Create Truck Secret" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <form #truckSecretNewForm="ngForm" (submit)="create(truckSecretNewForm)">
      <div class="field">
        <label for="deviceName">Device Name</label>
        <input type="text" pInputText id="deviceName" name="deviceName" #deviceName="ngModel" [(ngModel)]="truckSecret.deviceName" required [ngClass]="{'ng-invalid ng-dirty' : truckSecretNewForm.submitted && deviceName.invalid}" autofocus />
        <small class="text-danger" *ngIf="truckSecretNewForm.submitted && deviceName.errors?.['required']">Device Name is required.</small>
      </div>
      <div class="field">
        <label for="macAddress">Mac Address</label>
        <input type="text" pInputText id="macAddress" name="macAddress" #macAddress="ngModel" [(ngModel)]="truckSecret.macAddress" required [ngClass]="{'ng-invalid ng-dirty' : truckSecretNewForm.submitted && macAddress.invalid}" autofocus />
        <small class="text-danger" *ngIf="truckSecretNewForm.submitted && macAddress.errors?.['required']">Mac Address is required.</small>
      </div>
      <div class="d-flex justify-content-end">
        <div class="btn-group">
          <button pButton pRipple type="button" label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogForNew()"></button>
          <button pButton pRipple type="submit" label="Save" icon="pi pi-check" class="p-button-text"></button>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>

<!--Dialog For Edit-->
<p-dialog [(visible)]="truckSecretDialogForEdit" [style]="{width: '70%'}" header="Edit Company" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <form #truckSecretEditForm="ngForm" (submit)="update(truckSecretEditForm)">
      <div class="field">
        <label for="deviceName">Device Name</label>
        <input type="text" pInputText id="deviceName" name="deviceName" #deviceName="ngModel" [(ngModel)]="truckSecret.deviceName" required [ngClass]="{'ng-invalid ng-dirty' : truckSecretEditForm.submitted && deviceName.invalid}" autofocus />
        <small class="text-danger" *ngIf="truckSecretEditForm.submitted && deviceName.errors?.['required']">Device Name is required.</small>
      </div>
      <div class="field">
        <label for="macAddress">Mac Address</label>
        <input type="text" pInputText id="macAddress" name="macAddress" #macAddress="ngModel" [(ngModel)]="truckSecret.macAddress" required [ngClass]="{'ng-invalid ng-dirty' : truckSecretEditForm.submitted && macAddress.invalid}" autofocus />
        <small class="text-danger" *ngIf="truckSecretEditForm.submitted && macAddress.errors?.['required']">Mac Address is required.</small>
      </div>
      <div class="d-flex justify-content-end">
        <div class="btn-group">
          <button pButton pRipple type="button" label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogForEdit()"></button>
          <button pButton pRipple type="submit" label="Save" icon="pi pi-check" class="p-button-text"></button>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>

<!--Dialog For Delete-->
<p-dialog [(visible)]="deleteTruckSecretDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="truckSecret">Are you sure you want to delete <b>{{truckSecret.deviceName}}</b>?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTruckSecretDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
  </ng-template>
</p-dialog>
